.logo {
    width: 400px;
}
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

html {
    height: 100%;
}
body {
    height: 100%;

}
.w3-container{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
    height: calc(100% + 85px);
}
.footer{
    min-height: 85px !important;
    bottom: 0;
    position: fixed;
    width: 100vw;
}
.main img{
    display: block;
    width: 500px;
    height: 800px;
}